@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


/*
//////////////////////////////////////
///// ----- GLOBAL STYLES ----- /////
////////////////////////////////////
*/

*{ 

  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 

}

.App {
  font-family: 'Lato', sans-serif;
  letter-spacing: .05em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f5f5f5;
}

.App-link {
  color: #61dafb;
}

.cardLink{
  /* removes blue color and underline for links in the cards */
  text-decoration: none;
  color: #f5f5f5;
}

.sectionHeader{
  text-align: left;
  margin: 1em 0 1em 1em;
}

/* create-react-app defaults -- I actually don't know what these do */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* !!!!!! DEPRECATE CARD CLASS WHEN GROUP CARDS AND RESOURCE CARDS ARE PROPERLY CONFIGURED !!!!!! */
.card{
  background-color: #006494;
  padding:3em;
  margin: 0 1em 0 1em;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.75rem rgb(0,0,0,0.3));
  height: 100%;

}

.cardTitle, .subTitle{
  color: #f5f5f5;
}

/*
//////////////////////////////////////
///// ----- BUTTON STYLES ----- /////
////////////////////////////////////
*/

.mainCTA{
  display: inline-block;
  max-width: 25em;
  margin-top: 1em;
  padding: 1em 1.25em;
  background-color: #E5623B;
  border-radius: 5em;
  transition: 0.3s;
  
}

.mainCTA:hover{
  background-color: #C37EB8;

}

.mainCTA h3{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.standardButton{
  max-width: 25em;
  margin: 1em;
  padding: 0.5em 1.25em;
  border: 3px solid #6d7868;
  border-radius: 5em;
  transition: 0.3s;
}

.standardButton h3{
  font-weight: bold;
  font-size: 1em;
  color: #6d7868;
}

.standardButton:hover{
  background-color: #6d7868;
  cursor: pointer;
}

.standardButton:hover h3{
  color: #f5f5f5;
}


/*
//////////////////////////////////////
//// ----- HOMEPAGE STYLES ----- ////
////////////////////////////////////
*/

.homeNav{
  background-color: rgb(0,0,0,0.5);
  display: inline-block;
  width: 100%;
  padding: 1em 0.5em;
}

#logo{
  max-width: 15em;
  float: left;
}

#homeNavButton{
  float: right;
  padding: 0.75em;
  margin-right: 1em;
  filter: drop-shadow(0 0 0.75rem rgb(0,0,0,0.3));
}

/*
//////////////////////////////////////
//// ----- DASHBOARD STYLES ----- ///
////////////////////////////////////
*/

.topBanner{
  background-color: hsl(209, 57%, 93%);
  padding: 2em;
}

.heroImg{
  margin:auto;
  width: 75%;
}
#greeting{
  margin: 1em 0 1em 0;
}

#studyTip{
  text-align: left;
  max-width: 35em;

}

#didYouKnow{
  text-align: left;
  text-transform: uppercase;
  opacity: 0.6;
  margin: 1em 0 1em 0;
}


.profileBanner h2{
  color:#f5f5f5;
}

.profileBanner h4{
  color: #f5f5f5;
  font-style: italic;
  line-height: 150%;
  
}

#homeHeading{
  font-weight: 400;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#homeBlurb{
  margin-bottom: 1em;
}


.bannerBlurb{
  margin: 1em;
}

/*
//////////////////////////////////////
// ----- PROFILE PAGE STYLES ----- //
////////////////////////////////////
*/

/*
//////////////////////////////////////
////// ----- CARD STYLES ----- //////
////////////////////////////////////
*/

/* I. Class Cards for Schedules */

.classCard{
  background-color: #006494;
  padding: 1.5em;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.75rem rgb(0,0,0,0.3));
}

.courseTitle{
  color: #f5f5f5;
  width: 50%;
  display: inline-flex;
}

.classInfo{
  width: 50%;
  float: right;
}

.classInfo .subTitle{
  color:#f5f5f5;
  text-align: right;
  font-weight: bold;
  font-style: italic;
}

/* II. Friend Cards */

.friendCard{
  background-color: #006494;
  padding: 1.5em;
  margin: 0 1em;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.75rem rgb(0,0,0,0.3));
  
}

.profilePhoto{
  background-color: #f5f5f5;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.friendInfo{
  margin-left: 1em;
}

/* II. Group Cards */

.groupCard{
  background-color: #006494;
  padding: 1.5em;
  margin: 0 1em;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.75rem rgb(0,0,0,0.3));
  height: 100%;
  
}

/*
//////////////////////////////////////
/// MEDIA QUERIES FOR BIG SCREENS ///
////////////////////////////////////
*/


@media only screen and (min-width: 600px){

  .topBanner{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
  }

  .mainPageTitle{
    grid-column: 1 / 3;
  }

  .mainPageTitle{
    text-align: left;
    
  }

  .heroImg{
    grid-column: 1 / 2;
    width: 80%;
    margin: auto;
  }

  .bannerBlurb{
    grid-column: 2/3;
  }


.resources{
  margin: 1em;
}


.card{
  margin: 1em;
  max-width: 20em;
}

.bannerBlurb{
  grid-column: 2/3;
}

.profileBody{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  grid-gap: 1em;
  margin: 0 1em;
}

.classes{
  grid-column: 1/2;
  grid-row: 1/3;
  overflow-y: scroll;
  overflow-x: hidden;
}

.groups{
  grid-column: 2 / 3;

}

.friends{
  margin-left: 1em;
  grid-column: 2 / 3;
}

.friendCard{
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: flex-start;
  height: 100%;
}
.profilePhoto{
  margin:auto;
}

.friendInfo{
  grid-column: 2/3;

}


}

